# Python
__pycache__/
*.pyc
.venv/
venv/
.env
# Blokir semua folder yang depannya 'venv'
venv*/
# Atau lebih aman lagi, blokir semua yang mengandung kata 'venv'
*venv*/

# Node
node_modules/
dist/

# Docker
*.log

# IDE
.vscode/
.idea/